/* 
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Open Sans', sans-serif;   */

/* navbar */

.logo { width: 270px;}

.logo img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  float: left;
}

.logo .top{
  font-size: 20px;
  letter-spacing: 1px;
  padding-top: 7px;
  font-variant: small-caps;
}

.logo .top span {
  color: red;
  font-variant: none;
  font-size: 10px;
  vertical-align: super;
}

.login { 
  font-family: 'Open Sans', sans-serif;
  float: right;
  font-size: 12.5px;
  width: 150px;
  margin-top: -15px;
}

.login .links {
  display: inline-block;
  padding-bottom: 10px;
}

/* section one */

#one {
  padding: 30px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/home.jpg');
  background-position: center center;
  background-size: cover;
}

#one h1 {
  color: #FFFFFF;
  font-size: 64px;
  padding-top: 35px;
}

#one .subtitle {
  color: #FF9900;
  font-size: 28px;
  padding: 20px 0 110px 0;
}

#one .button:hover { color: #FFFFFF; }

#one .row .success {
  border-radius: 20px;
}

#one h6 {
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
  padding: 20px 0;
}

/* social */

#social {
  text-align: center;
  padding: 15px 0;
  border-bottom: 1px solid #EFEFEF;
}

/* section two */

#two, #four {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0 auto;
  width: 85%;
  padding-bottom: 80px;
}

#two .title {
  font-weight: 700;
  font-size: 44px;
  color: #444;
  margin-top: 40px;
  padding: 30px 0;
}

#two .text {
  font-size: 24px;
  line-height: 1.2;
  color: #666666;
  padding-bottom: 50px;
}

#two .col-md-3 {
  height: 275px;
  min-width: 220px;
  text-align: center;
  margin: 0 15px;
}

.large-icons img {
  width: 100px;
}

.title-icons {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 32px;
  color: #FF6600;
  padding: 20px 0;
}

.text-icons {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 1.8;
  color: #666666;
}

/* section three */

#three, #five {
  background: url('../images/fondo.png');
  padding-bottom: 50px;
}

#three .row {
  text-align: center;
}

#three .title, #five .title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 44px;
  color: #EEEEEE;
  width: 65%;
  margin: 70px 0;
}

#three .box {
  width: 100%;
  max-width: 600px;
  min-height: 100px;
  padding: 20px 40px;
  margin: 0 auto;
}

#three .box:hover {
  background: linear-gradient( rgba(125, 125, 125, 0.1), rgba(125, 125, 125, 0.1) );
  cursor: pointer;
}

.small-icons { 
  float: left;
}

.small-icons img {
  width: 80px;
}

#three .sub-box {
  width: 80%;
  float: right;
}

.category {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2em;
  color: #CFCFCF;
  padding: 5px 0 10px 0;
}

.description {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #9F9F9F;
  padding-top: 10px;
}

/* section four */

#four .title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 44px;
  color: #444;
  padding: 50px 0;
}

#four .col-md-6,
#four .col-md-12 {
  text-align: center;
  padding: 20px 15px;
}

#four .text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #666666;
  line-height: 1.5;
  max-width: 550px;
  margin: 0 auto;
}

/* section five */

#five .image5 img {
  width: 150px;
}

#five .row {
  text-align: center;
}

#five .row .wrapper {
  margin: 0 2%;
}

#five .description {
  font-size: 12px;
  line-height: 1.5;
}

#five a {
  font-family: 'Open Sans', sans-serif;
  font-size: 12.5px;
  padding-bottom: 20px;
}

/* media queries */

@media (min-width: 768px) {
  #two, #four { width: 65%;}
  .large-icons { margin: 0 30px;}
  #five .row .wrapper { margin: 0 20%; }
}
